<div *ngIf='newQuotes.length >= 1' class="part2">
  <h1>Your Quotes</h1>
  <div *ngFor='let quote of newQuotes'>
    <div class="quotesDisplay">
      <p><strong>Quote:</strong> "{{quote.quote}}"</p>
      <p><strong>Author:</strong> "{{quote.quoteAuthor}}"</p>
      <p><strong>Submitted by:</strong> "{{quote.submittedBy}}"</p>
      <div class="voting">
        <button class="upvote">
          <i class="fa fa-thumbs-up"></i>
        </button>
        <input type="number" class="input1" value="0" />

        <button class="downvote">
          <i class="fa fa-thumbs-down"></i>
        </button>
        <input type="number" class="input2" value="0" />
      </div>
    </div>
    <br>
  </div>
</div>

<script type="text/javascript">
  let upvoteBtn = document.querySelector('.upvote');
  let upvote = document.querySelector('.input1');
  let downvoteBtn = document.querySelector('.downvote');
  let downvote = document.querySelector('.input2');

  upvoteBtn.addEventListener('click', () => {
    upvote.value = parseInt(upvote.value) + 1;
    upvote.style.color = '#12ff00';
  })

  downvoteBtn.addEventListener('click', () => {
    downvote.value = parseInt(downvote.value) + 1;
    downvote.style.color = '#ff0000';
  })
</script>
