<div *ngIf='newQuotes.length >= 1' class="part2">
  <h1>Your Quotes</h1>
  <div *ngFor='let quote of newQuotes'>
    <div class="quotesDisplay">
      <p><strong>Quote:</strong> "{{quote.quote}}"</p>
      <p><strong>Author:</strong> "{{quote.quoteAuthor}}"</p>
      <p><strong>Submitted by:</strong> "{{quote.submittedBy}}"</p>
      <div class="voting">
        <button (click)='newUpvoteFunc()' class="upvote">
          <i class="fa fa-thumbs-up"></i>
        </button>
        <input type="number" class="input1" value='0' />

        <button (click)='newDownvoteFunc()' class="downvote">
          <i class="fa fa-thumbs-down"></i>
        </button>
        <input type="number" class="input2" value='0' />
      </div>
    </div>
    <br>
  </div>
</div>
