<div *ngIf='newQuotes.length >= 1' class="part2">
  <h1>Your Quotes</h1>
  <div *ngFor='let quote of newQuotes'>
    <div class="quotesDisplay">
      <p><strong>Quote:</strong> "{{quote.quote}}"</p>
      <p><strong>Author:</strong> "{{quote.quoteAuthor}}"</p>
      <p><strong>Submitted by:</strong> "{{quote.submittedBy}}"</p>
      <div class="voting">
        <button type="submit" id="upvote">
          <i class="fa fa-thumbs-up"></i></button>
      </div>
    </div>
    <br>
  </div>
</div>
